@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;700&family=League+Spartan:wght@300;400;500;700&display=swap');

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: rgb(229, 228, 228);
    background: black;
    font-size: 1.5rem;
    font-family: 'Poppins', 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans',
        'Helvetica Neue', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

ul {
    list-style: none;
}

a {
    color: inherit;
    text-decoration: none;
    position: relative;
}

img {
    max-width: 100%;
    height: auto;
    display: block;
}

h1,
p {
    font-family: 'League Spartan', sans-serif;
}

h1 {
    font-size: 2.8rem;
}

.btn {
    font-weight: 500;
}

.container {
    max-width: 1440px;
    margin: 0 auto;
    padding: 0 3rem;
}
code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}
